body {
  font-family: sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.discription {
  text-transform: capitalize;
}
.weather-app-container {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
#city-name {
  background-color: #ecf8fc;
  border-style: none;
  font-weight: 200;
}
#city-search {
  background-color: #fe9901;
  border-style: none;
  font-weight: 200;
}
.overview {
  margin-bottom: 20px;
}
.city-name {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 200;
  color: rgb(84, 83, 83);
}
.todayDate {
  font-size: 16px;
  font-weight: 100;
  color: rgb(119, 119, 119);
}
.weather-current-temperature img {
  margin-right: 5px;
  height: 120px;
  width: 120px;
  margin-top: -40px;
}

.weather-current-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 72px;
  line-height: 1;
  font-weight: 400;
}

.weather-current-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-current-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.weather-current-temperature .active:hover {
  text-decoration: none;
}
.weather-current-temperature .fahrenhiet {
  text-decoration: none;
}
.weather-detail {
  margin-top: 10px;
}
#discription {
  color: #4fcaef;
}
#humidity {
  color: #4fcaef;
}
#wind {
  color: #4fcaef;
}
.precent {
  color: #4fcaef;
}
.wind-unit {
  color: #4fcaef;
}
.forecast {
  margin-top: 20px;
  text-align: center;
}
.forecastDay {
  font-size: 16px;
  color: #434545;
}
.weather-forecast-temperture {
  font-size: 12px;
  color: #fe9901;
}
.min-temperture {
  color: #fbdbab;
}
